{% extends 'layout.html.twig' %}

{% block title %} Ajout auteur {% endblock %}

{% block content %}
    
    <h1 class="text-center"> Ajout d'un auteur </h1>

    {{form(formAuteur)}}

{% endblock content %}
